.chamada{
    background: purple;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
body{
    background: plum;
    margin: 0px;
    font-family: "Gothic A1", sans-serif;
    color: blueviolet;
    margin-bottom: 100px;
}